# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Virtual Environments
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Windows
Thumbs.db

# macOS
.DS_Store
# Generated AI Reports
ai/reports/*.pdf